@font-face {
  font-family: "cairoFont";
  src: url(../Cairo-Regular.ttf);
}

body {
  font-family: "cairoFont", Arial, sans-serif;
  background-color: #e7e7e7;
}

a {
  color: #000;
  text-decoration: none !important;
}

#top-menu .bg-light {
  background-color: #fff !important;
}

button {
  background-color: transparent !important;
  color: #bf40bf !important;
  border-color: #bf40bf !important;
}

button:hover {
  color: #fff !important;
  background-color: #bf40bf !important;
}

#top-menu .video-icon {
  background-color: #bf40bf;
  color: #fff;
  border-radius: 15%;
}

.navbar .navbar-nav .nav-link {
  transition: 0.3s;
  border-radius: 6px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active > .nav-link {
  color: #fff;
  background-color: #bf40bf;
}

.navbar .login {
  color: #bf40bf;
}

.modal .modal-header .close:hover {
  color: #b63939 !important;
  background-color: transparent !important;
}

input.form-control:focus,
button:focus {
  box-shadow: none !important;
}

.card .card-icons {
  position: relative;
}

time {
  position: absolute;
  bottom: 10px;
  left: 7px;
  color: #fff;
  background-color: #000;
  padding: 0 3px;
  border-radius: 6px;
}

.card .fa-play {
  position: absolute;
  top: 43%;
  right: 43%;
  color: #2c3131c7;
  transition: 0.2s;
  opacity: 0;
}

.card:hover .fa-play {
  opacity: 1;
}

.card {
  transition: 0.3s;
}

.card .card-title {
  height: 50px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-0.9%);
}

.card-body {
  min-width: 0;
}

.card .card-horizontal .card-body p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#top-menu .fa-bars {
  cursor: pointer;
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 4;
  right: -17rem;
  transition: 0.7s;
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 80px;
}

.sidebar:hover {
  overflow-y: scroll;
}

.sidebar .purple {
  color: #bf40bf;
  transition: 0.3s;
}

.sidebar .list-group-item {
  width: 250px;
  transition: 0.3s;
}

.sidebar .list-group-item:hover {
  color: #fff;
  background-color: #bf40bf;
}

.sidebar .list-group-item:hover .purple {
  color: #fff;
}

#wrap.toggled .sidebar {
  right: 0rem;
}

.sidebar::-webkit-scrollbar {
  background: #e9e9e9;
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182);
  width: 8px;
}

.layer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

.navbar .search-icon {
  color: #bf40bf;
  cursor: pointer;
  padding: 15px 10px;
  position: absolute;
  top: 15px;
  left: 132px;
  border-radius: 6px;
  display: none;
}

.navbar .search-icon:hover {
  color: #fff;
  background-color: #bf40bf;
}

.search-input {
  height: 60px;
  position: fixed;
  top: 70px;
  border: none;
  padding: 6px 23px;
  background-color: #cfcfcf;
  display: none;
  z-index: 1;
}

.search-input:focus {
  background-color: #cfcfcf;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}

footer .social-links i,
footer .page-links a {
  transition: 0.3s;
}

footer .social-links a i:hover {
  color: #000;
}
footer .social-links a:nth-child(2) i {
  font-weight: bold;
}
footer .social-links a:nth-child(2) i:hover {
  color: #cf0be9;
}
footer .social-links a:nth-child(3) i:hover {
  color: #0077ff;
}

footer .page-links a:hover {
  color: #000 !important;
  font-weight: bold;
}

@media (max-width: 1086px) {
  .navbar .collapse .form-hide {
    display: none;
  }

  .navbar .search-icon {
    display: inline;
  }
}

@media (min-width: 1087px) {
  .search-input {
    display: none !important;
  }
}
